body {
	background-color: white;
	font-family:Lora, Trebuchet, cursive;
	text-align: justify;
}
.culture h1 {
	text-align: left;
	font-size: 30px;
	color:black;
}
.hit-the-streets h1 {
	text-align: left;
	font-size: 30px;
	color: black;
}
.culture h4
{
	color: black;
}
.hit-the-streets h4
{
	color: black;
}